a {
  color: rgb(235, 223, 245);
  text-decoration: none;
}
.nav-links {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  background-color: transparent;
}
.logo {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
}
.login-container {
  width: 100%;
  display: flex;
  justify-content:flex-end;
  gap: 1rem;
}