:root {
  --color-primario-home: rgb(180, 139, 219);
  --color-titulos: rgb(41, 16, 85);
  --color-lik-login-signup: rgb(62, 126, 247);
  --color-blur-input: rgb(152, 186, 249);
  --color-blanco: rgb(235, 223, 245);
}
.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  padding-top: 5rem;
  background-color: var(--color-primario-home);
}
.home-container a {
  width: 100%;
}
.home-container button {
  width: 100%;
}
.home-container button a {
  text-decoration: none;
  color: var(--color-blanco);
}
.home-container h1, .token-container p{
  color: var(--color-blanco);
}
.home-container h1 {
  width: 100%;
}
.home-container h3 {
  color: var(--color-titulos);
  font-weight:normal;
}
.form-minutos {
  display: flex;
  gap: 0.5rem;
}
.token-container p{
  color: var(--color-lik-login-signup);
  text-decoration: none;
}
.token-container {
  width: 100%;
  margin: 1rem 0;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-blanco);
}

.token-container h3 {
  font-weight:bold;
}
.token-container h3, .token-container input, .token-container p {
  margin-bottom: 1rem;
}
.token-container input {
  width: 80%;
  padding: 1rem;
  border: none;
  border-radius: 0.6rem;
  text-align: center;
}
.token-container input:focus {
  outline: none;
  box-shadow: 0 -1px 5px var(--color-blur-input)inset, 0px -1px 5px var(--color-blur-input);
}
.token-container input::placeholder {
  text-align: center;
  font-size: 1rem;
  color: rgb(143, 158, 173);
}

@media screen and (min-width: 750px) {
  .home-container {
    padding: 0 10rem;
  }
}

@media screen and (min-width: 950px) {
  .home-container {
    padding: 0 17rem;
  }
}
