:root {
  --color-primario: #e3dffd;
  --color-h1-input-text-btn: #ecf2ff;
  --color-fondo-home: #beadfa;
  --color-text-color-input: #002147;
  --color-negro-texto-inicio-border-select: #000000;
  --color-link-login-signup-btn: #869cff;
  --color-blur-input: rgb(152, 186, 249);
  --color-placeholder: #908f8f;
  --color-span: #9874ff;
  --color-icono: #222222;
  --color-gradient-2: #ddd1ff;
  --color-gradient-3: #baa2ffa6;
  --color-gradient-4: #baa2ff;
}
.data-container {
  width: 100%;
}
.data-container b {
  color: var(--color-link-login-signup-btn);
}
.copy-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
.copy-container button {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 0.5rem 0.8rem;
  color: var(--color-link-login-signup-btn);
  font-weight: 500;
  background-color: transparent;
  border: 0.2rem solid var(--color-link-login-signup-btn);
  white-space: nowrap;
  gap: 0.6rem;
}
.copy-container .no-decoration-button ion-icon {
  color: var(--color-link-login-signup-btn);
  font-size: 1.3rem;
  margin-right: 0.2rem;
}
.copy-container .copied {
  color: rgb(79, 218, 79);
  font-size: 1.2rem;
  text-shadow: 1px 1px 6px rgba(100, 93, 93, 0.59);
  transition: desplazar 1s ease-in-out;
  position: absolute;
  top: -25px;
}
.gradient-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.2rem;
}
.gradient-container small {
  font-size: 0.7rem;
}
.gradient {
  border: thin solid black;
  width: 100%;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
}
.gradient-fragment {
  border: thin solid black;
  width: 100%;
}

/* Colores del gradiente */
.uno {
  background-color: var(--color-h1-input-text-btn);
}
.dos {
  background-color: var(--color-gradient-2);
}
.tres {
  background-color: var(--color-gradient-3);
}
.cuatro {
  background-color: var(--color-gradient-4);
}
.cinco {
  background-color: var(--color-link-login-signup-btn);
}
/* Colores del gradiente */

.meeting-final-container {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-top: 4rem;
  background-color: var(--color-primario);
}
.meeting-final-container a {
  text-decoration: none;
  color: var(--color-blanco);
  width: 100%;
}
.meeting-final-container a button {
  margin-top: 1rem;
  width: 100%;
  font-weight: 500;
}
.meeting-final-container h1 {
  color: var(--color-negro-texto-inicio-border-select);
}
.meeting-final-container p {
  color: var(--color-titulos);
  font-size: 1.1rem;
}
.users-list {
  width: 100%;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-h1-input-text-btn);
  border-radius: 0.5rem;
  margin: 1.5rem 0;
  gap: 0.3rem;
}
.users-list h5 {
  color: var(--color-text-color-input);
}
.users-list .list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.list p {
  color: var(--color-link-login-signup-btn);
}
/* Define a CSS class for your styled table */
.styled-table {
  width: 80vw;
  margin-right: 4vw;
  margin-top: 3rem;
  max-width: 500px;
  border-collapse: collapse;
  font-size: 16px;
}

.styled-table td {
  font-size: 0.6rem;
  border: 2px solid var(--color-icono);
  padding: 8px;
  text-align: center;
}

/* Style the header row differently */
.styled-table thead tr {
  color: var(--color-h1-input-text-btn);
  font-weight: bold;
}
.styled-table th,
.styled-table td {
  color: var(--color-negro-texto-inicio-border-select);
}

.styled-table .empty-cell {
  width: 0.6rem;
  background-color: transparent;
  border: 0px solid white;
  transform: translateY(-1.8em);
}
.no-decoration-button {
  width: 100%;
  background-color: transparent;
  border: 2px solid var(--color-link-login-signup-btn);
  color: var(--color-link-login-signup-btn);
}

@media screen and (min-width: 780px) {
  .meeting-final-container {
    padding: 10rem;
  }
  .meeting-final-container a,
  .copy-container {
    max-width: 50%;
  }
}
