:root {
  --color-primario: rgb(208, 196, 219);
  --color-titulos: rgb(41, 16, 85);
  --color-lik-login-signup: rgb(62, 126, 247);
  --color-blur-input: rgb(152, 186, 249);
  --color-blanco: rgb(235, 223, 245);
}
.meeting-container {
  min-height: 100vh;
  text-align: center;
  padding: 2rem;
  padding-top: 4rem;
  background-color: rgb(172, 141, 230);
}
.meeting-container h5, p {
  color: var(--color-blanco);
}
