/* Define a CSS class for your styled table */
.styled-table {
    width: 80vw;
    margin: 3vw;
    max-width: 500px;
    border-collapse: collapse;
    font-size: 16px;
  }
  
  .styled-table td {
    border: 2px solid #444;
    padding: 8px;
    text-align: center;
  }
  
  /* Style the header row differently */
  .styled-table thead tr {
    color: white;
    font-weight: bold;
  }

  .styled-table .empty-cell{
    background-color: white;
    border: 0px solid white;
  }
  