:root {
  --color-primario: #E3DFFD;
  --color-h1-input-text-btn: #ECF2FF;
  --color-fondo-home: #BEADFA;
  --color-text-color-input: #002147;
  --color-negro-texto-inicio-border-select: #000000;
  --color-link-login-signup-btn: #869CFF;
  --color-blur-input: rgb(152, 186, 249);
  --color-placeholder: #908F8F;
  --color-span: #9874FF;
  --color-icono: #222222;
}
.meeting-container {
  min-height: 100vh;
  text-align: center;
  padding: 2rem;
  padding-top: 4rem;
  background-color: var(--color-h1-input-text-btn);

}
.meeting-container h1 {
  color: var(--color-negro-texto-inicio-border-select);
}
.meeting-container a {
  text-decoration: none;
  color: var(--color-h1-input-text-btn);
  width: 100%;
}
.meeting-container b, .meeting-container small, .meeting-container h5, .meeting-container p {
  color: var(--color-negro-texto-inicio-border-select);
}
.meeting-container button {
  margin: 1rem 0;
}
.meeting-container .copy-link {
  max-width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem 0.8rem;
  color: var(--color-negro-texto-inicio-border-select);
  background-color: var(--color-h1-input-text-btn);
  border: thin solid var(--color-negro-texto-inicio-border-select);
  white-space: nowrap;
}
.meeting-container .copy-link ion-icon {
  color: var(--color-icono);
  font-size: 1.3rem;
  margin-right: 0.2rem;
}
.meeting-container span {
  color: rgb(47, 138, 47);
  font-size: 1.2rem;
  text-shadow: 1px 1px 6px rgba(100, 93, 93, 0.507);
  transition: desplazar 1s ease-in-out;
}
.meeting-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.meeting-container .btn-excentrico {
  background-color: transparent;
  border: 2px solid var(--color-link-login-signup-btn);
  color: var(--color-link-login-signup-btn);
}
@media screen and (min-width: 600px) {
  .meeting-container {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
@media screen and (min-width: 750px) {
  .meeting-container {
    padding-left: 15rem;
    padding-right: 15rem;
  }
  .meeting-container .copy-link {
    max-width: 30%;
  }
}
@keyframes desplazar {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}