:root {
  --color-primario: rgb(208, 196, 219);
  --color-titulos: rgb(41, 16, 85);
  --color-lik-login-signup: rgb(62, 126, 247);
  --color-blur-input: rgb(152, 186, 249);
  --color-blanco: rgb(235, 223, 245);
}
.meeting-final-container {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-top: 4rem;
  background-color: var(--color-primario);
}
.meeting-final-container a {
  text-decoration: none;
  color: var(--color-blanco);
  width: 100%;
}
.meeting-final-container a button {
  margin-top: 1rem;
}
.meeting-final-container h2 {
  color: var(--color-titulos);
}
/* Define a CSS class for your styled table */
.styled-table {
    width: 80vw;
    margin-right: 4vw;
    margin-top: 3rem;
    max-width: 500px;
    border-collapse: collapse;
    font-size: 16px;
  }
  
  .styled-table td {
    font-size: 0.6rem;
    border: 2px solid #444;
    padding: 8px;
    text-align: center;
  }
  
  /* Style the header row differently */
  .styled-table thead tr {
    color: white;
    font-weight: bold;
  }
.styled-table th, .styled-table td {
  color: var(--color-titulos);
}
  .styled-table .empty-cell{
    width: .6rem;
    background-color: transparent;
    border: 0px solid white;
  }
  
  @media screen and (min-width: 780px) {
  .meeting-final-container {
    padding: 10rem;
  }
  .meeting-final-container a {
    max-width: 50%;
  }
}